---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionContainer from '../components/SectionContainer.astro';

import { getCollection } from 'astro:content';
const allProjects = await getCollection('projects', ({ id }) => {
    return !id.includes('drafts/');
});

allProjects.sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

---


<Layout title="Óscar González Fresno - Projects">
	<main class="w-full p-4 md:p-6 lg:p-8">
		<SectionContainer id="projects" title="Projects">
			<ol class="grid grid-cols-1 md:grid-cols-2 md:gap-2 lg:grid-cols-3 mx-5 my-5 justify-center">
				{allProjects.map((project) => (
				<li class="mb-10 p-4 w-full flex justify-center">
					<Card
						title={project.data.title}
						summary={project.data.summary}
						slug={project.slug}
						src={project.data.image.src}
						alt={project.data.image.alt}
						tags={project.data.tags}
					/>
				</li>
				))}
			</ol>
		</SectionContainer>
	</main>
</Layout>