---
interface Props {
    title: string;
    summary: string;
    description: string;
    slug: string;
    src: string;
    alt: string;
    draft: boolean;
} 

const { title, summary, description, slug, src, alt } = Astro.props;
---

<a href={`/portfolio/projects/${slug}`} class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow w-full md:flex-row hover:bg-gray-100 hover:scale-105 transition-transform duration-200">
    <img class="object-cover w-full h-48 md:h-full md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src={src} alt={alt}>
    <div class="flex flex-col justify-between p-4 leading-normal w-full md:w-auto">
        <h5 class="mb-2 text-xl md:text-2xl font-bold tracking-tight text-gray-900">{title}</h5>
        <p class="mb-3 font-normal text-gray-700 text-sm md:text-base">{summary}</p>
    </div>
</a>